@charset "utf-8";

body {
  font: 14px Verdana, sans-serif;
  background: #99a;
  color: #eee;
}

a {
  color: #bbb;
  &:hover {
    color: white;
  }
}

#lang {
  padding: 0;
  position: absolute;
  top: 0;
  right: 4em;
  margin: 0;
  list-style-type: none;
  li {
    display: inline-block;
    padding: 6px;
    margin-left: 10px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid white;
    border-top: none;

    a {
      text-decoration: none;
      font-variant: small-caps;
    }
  }
}

header {
  width: 18em;
  padding: 20px;
  background-color: rgba(0,0,0,0.9);
  border: 2px solid white;
  border-top: none;

  position: absolute;
  top: 0;
  left: 4em;

  h1 {
    font-size: 2.0em;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px 0;
  }
  h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 2px 0;
  }
  #download_cv {
    margin-top: 20px;
    img {
      float: left;
      margin-right: 10px;
    }
    p {
      padding-top: 4px;
      font-size: 1.1em;
      font-weight: normal;
    }
    a {
      text-decoration: none;
    }
    .st {
      font-size: 0.8em;
      font-weight: normal;
    }
  }
}

nav {
  margin-top: 50px;
  padding: 10px;
  padding-left: 28em;
  background-color: rgba(0, 0, 0, 0.6);
  border: white solid;
  border-width: 2px 0;

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      display: inline-block;
    }
  }
}

.content {
  margin: 0 4em;
  margin-top: 140px;

  section {
    background-color: rgba(0,0,0,0.7);
    border: 2px solid white;
    padding: 1.2em;
  }
}
